@import '../../components/Sidebar/sidebar.scss';

.usuarios{
    background-color: whitesmoke;
    padding: 1.5rem 1rem 1rem 1rem;
    /* border: 2px solid red; */
    width: 100%;
    height: fit-content;
    overflow: hidden;

    &__titulo{
        margin-bottom: 1rem;
    }
    
    &__nav{
        margin: 1rem 0;
        width: 100%;
    }

    Table{
        margin-top: 2rem;
        background-color: $blanco;
    }

    .contenedor{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        Form{
            margin: 2rem 0;
            width: 80%;
        }
    }


}